* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}   
body {
    background-color: #f2f2f2;
}

tr th {
    padding-right: 10px!important;
}
tr td {
    padding-right: 10px!important;
}